.h2sec5{
    font-size: 20px;
}
.h22sec5{
    padding-left: 20px;
    font-size: 18px;
}
.pbox{
    padding-left: 20px;
    font-size: 16px;
}
.container5{
    margin-top: 91px;
    padding-left: 418px;
    padding-right: 400px;
}
.box2{
   border: 3px solid rgba(234, 236, 240, 1);
   border-radius: 15px;
   
}
